.main__title {
  font-size: clamp(40px, 5vw, 80px);
  font-weight: 700;

  max-width: 52%;
}

@media screen and (max-width: 768px) {
  .main__title {
    max-width: 66%;
  }
}

@media screen and (max-width: 470px) {
  .main__title {
    max-width: 100%;
  }
}
