.main__image {
  position: absolute;
  right: -120px;
  bottom: -100px;

  z-index: -1;

  width: 885px;
  height: 468px;
}

@media screen and (max-width: 1380px) {
  .main__image {
    width: calc((100vw - 768px) / (1380 - 768) * (885 - 475) + 475px);
    right: calc((100vw - 1200px) / (1380 - 1200) * (-120 + 25) - 25px);
    height: calc((100vw - 768px) / (1380 - 768) * (468 - 250) + 250px);

    z-index: -1;
    min-width: 300px;
    min-height: 165px;
  }
}

@media screen and (max-width: 1120px) {
  .main__image {
    right: 0;
  }
}

@media screen and (max-width: 470px) {
  .main__image {
    display: block;
    position: static;
    margin: 0 auto;
    transform: translateX(-10px);
  }
}
