@import './vendor/fonts.css';
@import './blocks/page/page.css';
@import './blocks/header/header.css';
@import './blocks/logo/logo.css';
@import './blocks/navigation/navigation.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #4b5d68;
  --second-color: #212353;

  /* В зависимости от ширины экрана динамичски изменяется размер элементов, отступов, шрифтов */
  --desktop-to-tablet: (100vw - 768px) / (1120 - 768);
  --desktop-to-mobile: (100vw - 320px) / (1120 - 320);
}

body {
  font: normal 400 16px/1.4 'Ubuntu', sans-serif;

  color: var(--main-color);

  min-height: 100vh;
  max-width: 1600px;

  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  margin: 0 auto;
}

@media screen and (max-width: 470px) {
  .header {
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .logo {
    align-self: flex-start;
  }

  .navigation__link {
    margin: 0;
  }
  .navigation__list {
    justify-content: space-between;
  }
  .navigation {
    width: 100%;
  }
}
