.promo-card__text-wrapper {
  max-width: 475px;
}

@media screen and (max-width: 1120px) {
  .promo-card__text-wrapper {
    padding-right: 25px;
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .promo-card__text-wrapper {
    padding: 25px 25px 25px 0;
  }
}

@media screen and (max-width: 470px) {
  .promo-card__text-wrapper {
    padding: 15px 15px 25px;
    max-width: 100%;
    margin: 0;
  }
}
