.footer__address {
  font-style: normal;
  font-weight: 500;
  margin-top: 65px;
}

@media screen and (max-width: 1120px) {
  .footer__address {
    margin-top: calc(var(--desktop-to-mobile) * (65 - 20) + 20px);
  }
}
