.feature-card__text-wrapper {
  text-align: left;
  z-index: 100;

  max-width: 270px;
  width: 50%;
  position: relative;
  height: 100%;
  /* border: 0.1px solid red; */
}

@media screen and (max-width: 768px) {
  .feature-card__text-wrapper {
    padding-right: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .feature-card__text-wrapper {
    padding: 0;
    width: 80%;
  }
}
