.features__cards-box {
  margin-top: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 45px;
}

@media screen and (max-width: 1120px) {
  .features__cards-box {
    margin-top: calc(var(--desktop-to-mobile) * (100 - 30) + 30px);
    gap: calc(var(--desktop-to-tablet) * (50 - 20) + 20px)
      calc(var(--desktop-to-tablet) * (45 - 20) + 20px);
  }
}

@media screen and (max-width: 768px) {
  .features__cards-box {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 470px) {
  .features__cards-box {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
  }
}
