.main__button {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: #9c69e2;
  color: #fff;

  width: 170px;
  height: 60px;

  font: normal 700 16px/1.1 'Ubuntu', sans-serif;
  font-size: clamp(14px, 4vw, 18px);
  text-decoration: none;

  border-radius: 50px;
  outline: none;
  border: none;

  transition: all 0.3s linear;
}

.main__button:hover {
  background-color: #fff;
  color: #9c69e2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: 3px solid #9c69e2;
}

.main__button::after {
  content: '';
  border: 7px solid #9c69e2;
  border-radius: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;

  animation: ring 4.5s infinite;
}

.main__button:hover::after {
  animation: none;
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  40% {
    width: 240px;
    height: 240px;
    opacity: 0;
    border-width: 3px;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .main__button {
    width: calc((100vw - 320px) / (768 - 320) * (170 - 110) + 110px);
    height: calc((100vw - 320px) / (768 - 320) * (60 - 40) + 40px);
  }
}

@media screen and (max-width: 470px) {
  .main__button {
    margin-top: 20px;
  }
}
