.main__button {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #9c69e2;
  color: #fff;

  width: 170px;
  height: 60px;

  font: normal 700 16px/1.1 'Ubuntu', sans-serif;
  font-size: clamp(14px, 4vw, 18px);
  text-decoration: none;

  border-radius: 50px;
  outline: none;
  border: none;

  transition: all 0.3s linear;
}

.main__button:hover {
  background-color: rgb(117, 46, 216);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .main__button {
    width: calc((100vw - 320px) / (768 - 320) * (170 - 110) + 110px);
    height: calc((100vw - 320px) / (768 - 320) * (60 - 40) + 40px);
  }
}

@media screen and (max-width: 470px) {
  .main__button {
    margin-top: 20px;
  }
}
